<form class="form-horizontal" name="addOrderForm" ng-init="getEverything()">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <div>
                    <input ng-click="createOrder(order)" class="btn  btn-success" value="Create"/>
                    <a href="#/" class="btn btn-success">Back</a> </br>
                    <span class="text-success"
                          ng-show="!addOrderForm.$valid || successfulInsert">
                        {{postStatus}}
                    </span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label class="control-label">Customer Name</label>
                <div class="col-lg-10">
                    <input name="customerName" type="text" class="form-control" ng-model="order.customerName" required/>
                    <span class="text-danger" ng-show="addOrderForm.customerName.$touched && addOrderForm.customerName.$invalid">Customer Name Required.</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Discount</label>

                    <select ng-model="selectedDiscount" ng-options=" i.discountName for i in Discounts" ng-change="updatePriceAfterDiscountApplied()">
                    </select>

            </div>
        </div>
        </div>

    <div class="row">
        <div class="col-6">
            <h2>Food Items</h2>
            <div class="row">
                <button class="btn btn-success col-3" ng-repeat="item in Items" ng-click="addOrderToList(item)">{{item.itemName}}</button>
            </div>
        </div>

        <div class="col-6">
            <p class="text-danger">{{frontEndValidationText}}</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Item Price</th>
                        <th>Tax: {{taxAmountForCurrentOrder | currency}} <br /> Total Price: {{finalPrice | currency}} <br /> Total Savings: {{orderSavings | currency}}  </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in chosenItems">
                        <td>{{i.Name}}</td>
                        <td>{{i.Price}}</td>
                        <td>
                            <button class="btn btn-danger" ng-click="removeFromOrderToList(i)">
                                Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>