<a href="#/addorder" class="btn btn-success">New Order</a>

<div class="panel panel-default">
    <div class="panel-heading">Order History</div>
    <div class="panel-body">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Customer Name</th>
                    <th>Price</th>
                    <th>Discount Used</th>
                    <th>Time of Order</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="i in orders">
                    <td>
                        {{i.orderId}}
                    </td>
                    <td>
                        {{i.customerName}}
                    </td>
                    <td>
                        {{i.orderPrice | currency}}
                    </td>
                    <td>
                        {{i.itemDiscountId.discountName}}
                    </td>
                    <td>
                        {{i.timeOfOrder | date : "short"}}
                    </td>
                </tr>
                <tr ng-if="!orders || orders.length == 0">
                    <td class="text-center" colspan="4">
                        No orders to display.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>